<!DOCTYPE html>
<html>
	<head>
		<style>
		.AboutUS {
		  background-color: #000000;
		}
		.Footer {
			background-color: #101010 ;
		} 
		#Abotus #Abotus2{
			top: 50px;
			left: 50px;
		}
		</style>
	</head>
</html>